<!DOCTYPE html>
<html>
<head>
  <title>{{ app_name }}</title>
</head>
<body>
  <h1>{{ app_name }}</h1>
  <p>Environment: {{ app_environment }}</p>
  <p>Port: {{ server_port }}</p>
  <p>Admin: {{ admin_email }}</p>
  <p>Configured by Ansible Role!</p>
</body>
</html>
